<clr-wizard #wizardmd [(clrWizardOpen)]="wizardService._open" clrWizardSize="md">
    <clr-wizard-title>Create Hero</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Basic information</ng-template>
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" #heroName />
      
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
            Add hero
          </button>
        
    </clr-wizard-page>
</clr-wizard>
